body {
    background: #ffffff;
}

.before-padding {
    padding: 65px;
}

.after-padding {
    padding: 65px;
}

.padding {
    padding: 10px;
}

.padding-20 {
    padding: 20px;
}

.card {
    border-top: 3px solid #536DFE;
    word-wrap: break-word;
}

.lab-title::before {
    content: "# ";
    color: #536DFE;
}

a:link {
    color: #536DFE;
    text-decoration: none;
}

a:visited {
    color: #536DFE;
    text-decoration: none;
}

a:hover {
    color: #536DFE;
    text-decoration: none;
}

a:active {
    color: #536DFE;
    text-decoration: none;
}


.header a:link {
    color: black;
}

.header a:visited {
    color: black;
}

.header a:hover {
    color: black;
}

.header a:active {
    color: black;
}

.mdui-card-primary {
    position: relative;
    padding: 24px 16px 5px 16px;
}