body{
  background: #ffffff;
}

.before-padding{
  padding: 65px;
}

.after-padding{
  padding: 65px;
}

.padding{
  padding: 10px;
}

.lab-card .item{
  padding: 5px;
}

.lab-card .title{
  font-size:20px;
  color: #000000;
  padding: 2px;
}

.lab-card .title::before{
  content:"# ";
  color:#536DFE;
}

.lab-card .content{
  font-size:16px;
}

a:link{
  color: #536DFE;
  text-decoration:none;
}
a:visited{
  color:#536DFE;
  text-decoration:none;
}
a:hover{
  color: #536DFE;
  text-decoration:none;
}
a:active{
  color: #536DFE;
  text-decoration:none;
}

.header a:link{
  color:black;
}

.header a:visited{
  color:black;
}

.header a:hover{
  color:black;
}

.header a:active{
  color: black;
}
